{% extends 'shop/base.html' %}

{% block title %}
	Thank you
{% endblock %}

{% block content %}
	<h1>Thank you</h1>
	<h2><strong>Your order has been successfully completed.</strong></h2>
	<h3>Muito obrigado por ter chegado ate aqui, este e minha primeira loja virtual ela ainda nao está completa mas logo irei terminar. Espero que tenha gostado pois esse ainda e apenas o começo
		(OBS: Peço desculpas para aqueles que estão me visitando pelo celular logo logo irei deixar a loja responsiva para todos os aparelhos)
	</h3>
	<h2>Meu nome é Mateus Vidal, tenho 18 anos e sou de Pernambuco <br>
		Email: mateusvida07@gmail.com.
	</h2>
{% endblock %}